body{
  font-size: 100%;
  font-family: 'Patrick Hand', cursive;
  background-color: white;
}

p{
  font-size: 150%;
}

p0{
  font-size: 150%;
}

h1{
  margin-top: 5%;
  font-size: 250%;
}

h2{
  font-size: 200%;
}

a{
  color: DeepSkyBlue;
}


div {
  width: 300px;
  margin: auto;
}

p {
  border-top: 2px dashed;
  border-color: blue !important;
  margin:0; padding: 30px;
}

p:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px; 
  padding-right: 0;
}

p:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px; 
  padding-left: 0;
}

p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}















/* TABLE */

table {
  border-collapse: collapse;
  width: 50%;
  margin-top: 8%;
}

th{
  text-align: center;
  font-size: 150%;
  background-color: DodgerBlue ;
  margin: 10%;
  color: white;
}

td {
  font-size: 150%;
  text-align: center;
}


/* BUTTONS */

.button {
  background-color: DeepSkyBlue;
  
  font-family: 'Patrick Hand', cursive;
border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 80%;
  cursor: pointer;
  border-radius: 5%;
  font-size: 115%;
  
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}




.button:hover {
  background-color: white; 
  color: black;
}
button:hover + div {
  display: block;
}


.horizontal{
    display: inline-block;
    background-color: white;
    width: 5%;
    color: white;
}

.hor2{
    display: inline-block;
    background-color: white;
    width: 5%;
    color: white;
}

.button0{
font-size: 100%;
  background-color: white;
  color: black;
  border: none;
  border-color: white;

}



.button2 {
  font-size: 100%;
  background-color: DodgerBlue;
  color: DodgerBlue;
  border-radius: 50%;
}

.button2:hover{
  background-color: DeepSkyBlue; 
}


/* button for DATES */
.button3 {
  border-radius: 5%;
  font-size: 100%;
  background-color: LightSteelBlue;
  color: black;
  padding: 0.90%;
  font-size: 125%;

  border: 10%;
  border-color: black;
  border-width: 3px;
}
.button3:hover {
  background-color: LightSteelBlue; 
  color: black;
}